###############################################################################
# Normalize line endings by default
###############################################################################
* text=auto

###############################################################################
# Force CRLF for specific file types (Windows-style)
###############################################################################
*.info text eol=crlf
*.inf  text eol=crlf